[workspace]
authors = ["alejandrofontan <fontanvillacampa@gmail.com>"]
channels = ["https://fast.prefix.dev/conda-forge", "esrf-bcu", "robostack-staging"]
name = "kalibr_bommie"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
git-clone = "git clone https://github.com/alejandrofontan/kalibr.git src/kalibr && catkin init"
build = "catkin build -j8 --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5"
kalibr_calibrate = {cmd = "./scripts/calibrate.sh"}

[dependencies]
python = {version="3.9.18", build="h0755675_0_cpython", channel="https://fast.prefix.dev/conda-forge"}
ros-noetic-desktop="*"
compilers="*"
cmake="*"
pkg-config="*"
make="*"
ninja="*"
colcon-common-extensions="*"
catkin_tools="*"
rosdep="*"
boost="*"
suitesparse = {version="5.4.0", build="h717dc36_0", channel="https://fast.prefix.dev/conda-forge"}
tbb="*"
opencv="*"
libv4l="*"
pip="*"
scipy="*"
matplotlib="*"
ipython="*"
wxpython ="*"
tk ="*"
pyx="*"
libtiff="*"
tqdm="*"

[pypi-dependencies]
igraph="*"